.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}
.logo{
    width: 200px;
    height: 100px;
}
.nav-items > ul{
    display: flex;
    list-style-type: none;
    padding: 10px 20px;
}
.nav-items >ul >li{
    padding: 10px;
    margin: 10px;
    font-size: 20px;

}
.menu-bar:hover{
    cursor: pointer;
}
.res-card{
    width: 200px;
    border-radius: 5px;
    
}
.res-card:hover{
    border: 1px solid black;
    cursor: pointer;
}
.search-bar{
    padding: 10px;
}
.res-logo{
    width: 100%;
    
}
.res-card{
    padding: 5px;
}
.res-container{
    display: flex;
    gap: 5px;
    flex-wrap:wrap;
}
.filter-btn{
    padding: 5px;
    margin-top: 5px;
    cursor: pointer;
}